default_language_version:
  python: python3.11
repos:
  - repo: https://github.com/andreoliwa/nitpick
    rev: e2bca246e142b9e06766d0522e1cee24a8c1bc07
    hooks:
      - id: nitpick-suggest
      - id: nitpick
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        stages:
          - commit
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.1
    hooks:
      - id: pyupgrade
        args:
          - --py37-plus
  - repo: https://github.com/myint/autoflake
    rev: v2.3.0
    hooks:
      - id: autoflake
        args:
          - --in-place
          - --remove-all-unused-imports
          - --remove-unused-variables
          - --remove-duplicate-keys
          - --ignore-init-module-imports
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 23.12.1
    hooks:
      - id: black
        args: [--safe, --quiet]
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.16.0
    hooks:
      - id: blacken-docs
        additional_dependencies:
          - black==23.7.0
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: rst-backticks
  # TODO:
  #  - repo: https://github.com/andreoliwa/nitpick
  #    rev: v0.32.0
  #    hooks:
  #      - id: nitpick-fix
  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        additional_dependencies:
          [
            flake8-blind-except,
            flake8-bugbear,
            flake8-comprehensions,
            flake8-debugger,
            flake8-docstrings,
            flake8-isort,
            flake8-polyfill,
            flake8-pytest,
            flake8-quotes,
            flake8-typing-imports,
            yesqa,
          ]
  #  - repo: https://github.com/pre-commit/mirrors-mypy
  #    rev: v0.990
  #    hooks:
  #      - id: mypy
  #        args:
  #          - --show-error-codes
  - repo: https://github.com/openstack/bashate
    rev: 2.1.1
    hooks:
      - id: bashate
        args:
          - -i
          - E006
  #  - repo: https://github.com/PyCQA/bandit
  #    rev: 1.7.4
  #    hooks:
  #      - id: bandit
  #        args:
  #          - --ini
  #          - setup.cfg
  #        exclude: tests/
  #  - repo: local
  #    hooks:
  #      - id: pylint
  #        name: pylint
  #        entry: pylint
  #        language: system
  #        exclude: tests/
  #        types:
  #          - python
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.15.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort-fix
        exclude: poetry.lock
