#!/bin/bash

# Your home computer
export G_HOME_COMPUTER=

# Your computer at work
export G_WORK_COMPUTER=

# Your Unix username at work
export G_WORK_UNIX_USERNAME=

# Your SVN username at work
export G_WORK_SVN_USERNAME=

# Your Dropbox dir
export G_DROPBOX_DIR=

# Directory where you want to put your new scripts.
# Usually it is the same Git dir for the bash-utils project
# E.g.: $HOME/src/bash-utils
export G_NEW_SCRIPTS_DIR=

# Download dir, usually $HOME/Downloads
export G_DOWNLOAD_DIR=

# Your work VPN server. E.g.: vpn.mycompany.com
export G_WORK_VPN_SERVER=

# Your work VPN user name
export G_WORK_VPN_USER=

# Your work VPN password
export G_WORK_VPN_PASSWORD=

# Root source directory at work. E.g.: $HOME/src, $HOME/local-src, $HOME/work...
export G_WORK_SRC_DIR=

# URL for the timeclock application used to record every person's working time
export G_WORK_TIMECLOCK_URL=

# The root URL of your work SVN server, without the backslash at the end.
# E.g.: http://svn.ops.corp.mycompany.com/svn
export G_SVN_URL=

# The root URL of your WSVN, without the backslash at the end.
# E.g.: http://svn.ops.corp.mycompany.com/wsvn
export G_WSVN_URL=

# The document URL which contains all SVN developer numbers.
# This is used by the svn-whois.sh script.
export G_SVN_TECHNOTE_URL=

# Your bank account information
export G_PERSONAL_BANK_ACCOUNT=
export G_WORK_BANK_ACCOUNT=
export G_BANK_STATEMENTS_DIR=

# The media subdirectory has changed since the last Ubuntu version (12.04)
V_MEDIA_SUBDIR=/$(whoami)
if [ "$(lsb_release -rs)" = '12.04' ] ; then
	V_MEDIA_SUBDIR=
fi

# External HDD used for common operations, used also as the primary backup
export G_EXTERNAL_HDD=

# External HDD where you keep your movies
export G_MOVIES_HDD=

# External HDD used only as a secondary backup
export G_BACKUP_HDD=

# Cellphone SD card root dir
export G_CELL_PHONE=

# Shotwell root picture dir
export G_SHOTWELL_DIR=
