#!/bin/bash

export G_WORK_COMPUTER=
export G_HOME_COMPUTER=
export G_WORK_USERNAME=

# Special directories
export G_NEW_SCRIPTS_DIR=
export G_DOWNLOAD_DIR=

# VPN
export G_WORK_VPN_SERVER=
export G_WORK_VPN_USER=
export G_WORK_VPN_PASSWORD=

# Version control
export G_WORK_SRC_DIR=
export G_SVN_ROOT=
export G_SVN_TECHNOTE_URL=

# Bank
export G_PERSONAL_BANK_ACCOUNT=
export G_WORK_BANK_ACCOUNT=
export G_BANK_STATEMENTS_DIR=

# HDD
V_MEDIA_SUBDIR=
if [ "$(lsb_release -rs)" = '12.10' ] ; then
	V_MEDIA_SUBDIR=/$(whoami)
fi
export G_EXTERNAL_HDD=
export G_MOVIES_HDD=
export G_BACKUP_HDD=
