[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argcomplete = "*"
click = "*"
colorlog = "*"
crayons = "*"
requests = "*"
SQLAlchemy = "*"
plumbum = "*"
prettyconf = "*"

[dev-packages]
coverage = "*"
docutils = "*"
nitpick = "*"
pytest-cov = "*"
pytest = "*"
Sphinx = "*"
tox = "*"

[requires]
python_version = "3.6"
